body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



.header-center h1 {
    font-size: 18px;
    margin: 0;
    text-align: center;
}

.h

.header-right span {
    font-size: 14px;
}

main {
    padding: 20px;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ace0e0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

form input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
form input[type="submit"] {
    width: 35%;
    padding: 10px;
    margin-left: 35%;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
   
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    background-color: #06284b;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
